{% extends 'base.html' %}

{% block title %}Simulation{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/life.css') }}">
{% endblock %}

{% block content %}
    <div class="game-container">
        <div id="counter" class="counter">{{ life_count }}</div>

        <table class="game-table" id="game-table">
            {% for row in world %}
                <tr>
                    {% for cell in row %}
                        {% if cell %}
                            <td class="cell alive"></td>
                        {% else %}
                            <td class="cell"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <a class="home-button" href="{{ url_for('index') }}">Home</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>const apiUrl="http://{{ host }}/life";</script>
    <script src="{{ url_for('static', filename='js/life.js') }}"></script>
    <script>setInterval(fetchGameState, 1000 * '{{ velocity }}');</script>
{% endblock %}
